@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .gradient-button {
    background: linear-gradient(60deg, #f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
    background-position: 0% 50%;
    transition: all 0.5s ease;
    animation: gradient 6s ease infinite alternate;
    background-size: 300% 300%;
    max-width: 512px;
    width: calc(100% - 14px);
    padding: 14px;
    font-size: 16px;
  }

  body {
    background-color: black;
    color: white;
  }

  .gradient-button:hover {
    background: transparent;
    border-color:white;
    border: 1px solid rgb(255, 255, 255);
  }